<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrwan.pigcount.mapper.PicListMapper">

    <select id="ListGet" resultType="com.mrwan.pigcount.pojo.picList">
        SELECT * FROM pic_list
        <where>
            <if test="type != null">
                type = #{type}
            </if>
            <if test="create_itime != null">
                AND create_time > #{create_itime}
            </if>
            <if test="create_etime != null">
                AND #{create_etime} > create_time
            </if>
            <if test="isDel == true">
                AND del_time is not null
            </if>
            <if test="isDel == false">
                AND ISNULL(del_time)
            </if>
        </where>
        order by id
        desc
    </select>

    <select id="TypeListNo" resultType="com.mrwan.pigcount.pojo.picList">
        SELECT c.id,c.pic_url,c.type,c.create_time
        FROM (
            SELECT a.id,a.pic_url,a.type,t.icon_name,a.create_time
            FROM (
                SELECT *
                FROM pic_list
                <where>
                    type = '/typeList/'
                    AND ISNULL(del_time)
                </where>
            ) as a
            LEFT JOIN type_list as t
            on a.pic_url = t.icon_name and t.type !=  -1
            GROUP BY a.id
        ) as c
        <where>
            ISNULL(c.icon_name) = 1
        </where>
    </select>

    <select id="TypeListType" resultType="String">
        SELECT type
        FROM pic_list
        <where>
            ISNULL(del_time)
        </where>
        GROUP BY type
    </select>

    <update id="picChange" parameterType="com.mrwan.pigcount.pojo.picList">
        update pic_list
        <set>
            <if test="pic_url != null">
                pic_url = #{pic_url},
            </if>
            create_time = unix_timestamp(now())
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <insert id="picAddNew" parameterType="com.mrwan.pigcount.pojo.picList">
        insert into pic_list
        (pic_url, type, create_time)
        values (#{pic_url}, #{type}, unix_timestamp(now()))
    </insert>

    <update id="picDel" parameterType="String">
        update pic_list
        <set>
            <if test="del == true">
                del_time = unix_timestamp(now())
            </if>
            <if test="del == false">
                del_time = null
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="picOverTime" resultType="com.mrwan.pigcount.pojo.picList">
        select *
        from pic_list
        <where>
            del_time is not null
            AND unix_timestamp(now()) > del_time + 604800
        </where>
    </select>

    <delete id="picDump">
        DELETE
        FROM pic_list
        <where>
            id = #{id}
        </where>
    </delete>

    <insert id="picAddNewId" parameterType="com.mrwan.pigcount.pojo.picList" useGeneratedKeys="true"  keyProperty="id">
        insert into pic_list
        (pic_url, type, create_time)
        values (#{pic_url}, #{type}, unix_timestamp(now()))
    </insert>
</mapper>