<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrwan.pigcount.mapper.PigListMapper">
    <insert id="booksAdd" parameterType="com.mrwan.pigcount.pojo.pigList">
        insert into pig_list
        (username, money, time, create_time, status, detaile, type, pic_ids)
        values (#{username}, #{money}, #{time}, unix_timestamp(now()), 1, #{detaile}, #{type}, #{pic_ids})
    </insert>

    <select id="pigListFind" parameterType="String" resultType="com.mrwan.pigcount.pojo.pigList">
        SELECT *
        FROM pig_list
        <where>
            username = #{username}
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="stime != null">
                AND time > #{stime}
            </if>
            <if test="etime != null">
                AND #{etime} > time
            </if>
        </where>
        order by id
        desc
    </select>

    <resultMap id="CountTypeMap" type="map">
        <result property="type" column="type"/>
        <result property="typename" column="typename"/>
        <result property="total" column="total"/>
    </resultMap>
    <select id="pigCountType" parameterType="String" resultMap="CountTypeMap">
        SELECT p.type, t.typename, SUM(p.money) as total
        FROM (
            SELECT * FROM pig_list
            <where>
                type != 25 AND
                username = #{username}
                <if test="stime != null">
                    AND time > #{stime}
                </if>
                <if test="etime != null">
                    AND #{etime} > time
                </if>
            </where>
            ) p
        LEFT JOIN type_list t
        ON p.type = t.id
         GROUP BY p.type
         ORDER BY p.type
    </select>

    <delete id="booksDel">
        DELETE
        FROM pig_list
        <where>
            <foreach collection="ids" item="ids" index="index"
                     open="(" close=")" separator="or">
                id = #{ids}
            </foreach>
        </where>
    </delete>

    <select id="pigHaveMoney" parameterType="String" resultType="string">
        SELECT b.B - a.A as haveMo
        FROM
        (SELECT if(isnull(SUM(money)),0,SUM(money)) as A FROM `pig_list` WHERE username = #{username} AND type != 27 ) a,
        (SELECT if(isnull(SUM(money)),0,SUM(money)) as B FROM `pig_list` WHERE username = #{username} AND type = 27) b
    </select>
</mapper>