<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mrwan.pigcount.mapper.UsersMapper" >

    <select id="login_in" parameterType="String" resultType="com.mrwan.pigcount.pojo.Users">
        SELECT * FROM pig_users WHERE username = #{username} AND password = #{password}
    </select>

    <select id="regiseter_find" parameterType="com.mrwan.pigcount.pojo.Users" resultType="com.mrwan.pigcount.pojo.Users">
        select * from pig_users where username = #{username}
    </select>

    <insert id="register" parameterType="com.mrwan.pigcount.pojo.Users">
        insert into pig_users ( username , password , name , create_time , state , code)
            values(#{username},#{password},#{name},#{create_time},#{state},#{code})
    </insert>

    <update id="register_update" parameterType="com.mrwan.pigcount.pojo.Users">
        update pig_users set code = #{code} , create_time = #{create_time} , password = #{password} where username = #{username}
    </update>

    <select id="code_check" parameterType="String" resultType="com.mrwan.pigcount.pojo.Users">
        SELECT * FROM pig_users WHERE username = #{username} AND code = #{code}
    </select>

    <update id="code_status" parameterType="String">
        update pig_users set state = 1 where username = #{username}
    </update>

    <update id="ip_save" parameterType="String">
        update pig_users set ip = #{userip} where username = #{username}
    </update>

</mapper>
